.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 5px;
    padding: 2px;
    font: 12px sans-serif;
    border-radius: 2px;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip h3 {
    font-size: 15px;
}

.tooltip h4 {
    font-size: 10px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
}

.container-fluid {
    padding-right: 5px;
    padding-left: 5px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.browser text {
    text-anchor: end;
}

.area {
    opacity: 0.7;
    clip-path: url(#clip);
}
.area:hover {
    opacity: 1;
}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}



div #row3 {
    height: 25vh;
    /*width: 120vh;*/
}

div #row2 {
    height: 60vh;
    /*width: 120vh;*/
}

div #world-chart {
    height: 100%;
    width: 100%;
}

div #box-area{
    margin-top: 2vh;
    border-radius: 2px;
}

div #timeline {
    height: 100%;
    width: 100%;
}

.tiplabel {
    font-size: medium;
}

.map_year_text{
    border: thin solid skyblue;
    margin-top: 2vh;
    border-radius: 5px;
    background: rgba(122, 121, 121, 0.45)
}